.tags{
  padding: 5px 10px;
  background: #ffffff;
  box-shadow: 1px 5px 5px 2px #eeeeee;
  
}
.dot{
  width: 8px;
  height: 8px;
  background: #ffffff;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}